.bash_profile
.bashrc
documentation
examples
logs
.viminfo
legal
content
examples
lib
lib-native
.bash_history
conf/Server.license
.ssh
.gitconfig
bin
.DS_Store
conf/Admin.guid
conf/Server.guid
conf/Server.lstore
